.header {
    background-color: salmon;
}


.recipe-form {
    display: flex;
    justify-content: space-between;
    min-height: 90%;
    flex-direction: column;
    margin: 5%;
    align-content: center;
}

/* Recipe Image */
.recipe-image-div {
    width: 70%;
    justify-content: center;
    align-items: center;
}

.recipe-image-submit {
    width: 30%;
    margin: 0 auto;
}

.icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }
  .card {
    height: 400px;
    margin: 20px;
  }
  .card .card-image {
    height: 250px;
    overflow: hidden;
  }
  .card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card .card-content {
    height: 80px;
  };

/* Classes in Index.html */

.recipe-container {
    border-top: solid;
    margin: 5%;
}
.recipe.title {
    font-size: 1.5rem;
    font-weight: bold;
}
.recipe-serving {
    font-size: 0.8rem;
}
.recipe-time {
    font-size: 0.8rem;
}
.recipe-type {
    font-size: 0.8rem;
    font-weight: bold;
}
.recipe-description {
    font-size: 1rem;
    margin-top: 1rem;
}
.ingredients-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
}
.ingredients-list {
    font-size: 1rem;
    margin-top: 1rem;
}
.directions-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
}
.directions-list {
    font-size: 1rem;
    margin-top: 1rem;
}
.recipe-image {
    width: 100%;
    margin-top: 1rem;
}